
.cards{
  display: flex;
  justify-content: center;
  align-items: center;
}
.header{
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header2{
  display: flex;
  justify-content: center;
  align-items: center;
}
.card{
  justify-content: center;
  width:17rem;
  height: 10rem;
  margin: 10px;
  background-color: cadetblue;
}
.select{
  height: 36px;
  margin-right: 5px;
}
.btn{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  background-color: cadetblue;
  width: 70px;
  border: none;
  color: black;
}
.btn:hover{
  background-color: cadetblue;
}
.btn:active{
  background-color: cadetblue;
}

.popContainer{
  
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding-top:15% ;

}
.popBody{
  
  width: 30%;
  background-color: white;
  height: 70%;
  margin: auto;
}
.head{
  display: flex;
}
.popButton{
  width: 10px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-color: transparent;
  border: none;
  color: black;
}
.popCard{
  background-color: aquamarine;
  padding: 10px;
}

